
@{
    ViewBag.Title = "Service";
}

<h2>Услуги</h2>
<div>
    <table>
        <tr>
            <td>ID</td>
            <td>Название</td>
            <td>Цена</td>
        </tr>
        @foreach (var s in ViewBag.Service)
        {
        <tr>
            <td>@s.Id</td>
            <td>@s.Name_Service</td>
            <td>@s.Cost_Service</td>
        </tr>
        }
    </table>
</div>

